<main>
    <div class="topCard">
        <div class="mainImageDiv">
            <!-- <img class="mainImage" src="images/Mytrex-Wall-Paper-transparent.png" alt="MXD3G" /> -->
        </div>
    </div>
    <div class="productsCard">
      <div class="row">
          <div class="thumbnail">
            <img class="thumbnailImg animated zoomIn" src="images/Generic MXDPIC.png" alt="...">
            <div class="caption">
              <h3>MXD</h3>
              <p>POTS, VoIP, Cable Unit</p>
              <p>
                  <a href="/#/products" class="btn btn-primary" role="button">Learn More</a>
                  <a href="/#/documents" class="btn btn-default" role="button">Documents</a>
              </p>
            </div>
          </div>
          <div class="thumbnail middle">
            <img class="thumbnailImg animated zoomIn" src="images/mxd3g front.png" alt="...">
            <div class="caption">
              <h3>MXD3G</h3>
              <p>AT&ampT Cellular Unit</p>
              <p>
                  <a href="/#/products" class="btn btn-primary" role="button">Learn More</a>
                  <a href="/#/documents" class="btn btn-default" role="button">Documents</a>
              </p>
            </div>
          </div>
          <div class="thumbnail">
            <img class="thumbnailImg animated zoomIn" src="images/myActive2.png" alt="...">
            <div class="caption">
              <h3>myActive Alert</h3>
              <p>&nbsp</p>
              <p>
                 <a href="/#/products" class="btn btn-primary" role="button">Learn More</a>
                 <a href="/#/documents" class="btn btn-default" role="button">Documents</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="custom">
      <p>Personalized programming.</p>
      <p>Your center or ours.</p>
      <p> Direct or wholesale.</p>
      <br>
      <button type="button" class="btn btn-default">Learn More</button>
    </div>
    <div class="social">
      <div class=""><a href="#"><img src="images/facebook-128.png" alt="" /></a></div>
      <div class=""><a href="#"><img src="images/instagram-128.png" alt="" /></a></div>
      <div class=""><a href="#"><img src="images/youtube2-128.png" alt="" /></a></div>
    </div>

</main>
