<nav class="navbar-Mytrex">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Mytrex Inc | Synergy By Design
        </a>
      <div class="">
        <button id="hamburger" class="btn btn-default animated fadeIn" ng-click="showNav=!showNav">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
      </div>
    </div>
    <!-- Mobile Links -->
    <div id="navLink" ng-show="showNav" class="animated slideInDown">
      <div class="btn-group-vertical" role="group" aria-label="Home">
        <a class="link" ui-sref="home">Home</a>
        <a class="link" ui-sref="products">Products</a>
        <a class="link" ui-sref="documents">Documents</a>
      </div>
    </div>
    <!-- Large Sreen View -->
    <div class="navLinkLarge animated slideInDown">
      <div class="btn-group-vertical" role="group" aria-label="Home">
        <a class="linkLarge" ui-sref="home">Home</a>
        <a class="linkLarge" ui-sref="products">Products</a>
        <a class="linkLarge" ui-sref="documents">Documents</a>
        <a class="linkLarge" ui-sref="aboutUs">About Us</a>
      </div>
    </div>
</nav>
