<!DOCTYPE html>

<html ng-app="app3">
	<body ng-controller="controller">
		filter Name
		<input type="text" name="name" ng-model="search.name">
		filter Name
		<input type="text" name="name" ng-model="search.email">
		<div ng-repeat="item in list | filter: search">

			{{item.name}}{{item.email}}

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
