html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	background-color: #F9F9F9;
}
.header{
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.navLinks{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.link{
	display: inline-block;
	color: #B3B3B8;
	font-size: 22px;
	margin-left: 20px;
}
.link a:onHover{
	color: blue;
}
.navbar-brand{
	height: 125px;
}
#logo{
	width: 200px;
}
#hamburger{
	float: right;
	margin-top: 45px;
	margin-right: 20px;
}
.hamburgerMenu{
	text-decoration: none;
	float: right;
}
.hamburgerMenu>a{
	margin-left: 10px;
}
