html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.hidden {
  display: none;
}
.show {
  display: inherit;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 100px;
  /* bottom = footer height */
  background-color: white;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #141B27;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer>div {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  color: white;
  background-color: #141B27;
  padding: 10px;
}
.blue {
  color: #286090;
}
.productPreview1{
  display: none;
}
.productPreview2{
  display: none;
}
.productPreview3{
  display: none;
}

.row::after {
  display: none;
}
.header {
  width: 100%;
  background-color: #FFFFFF;
}
.navbar-Mytrex {
  z-index: 1;
  height: 20px;
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.link {
  display: inline-block;
  color: #D0D3D5;
  font-size: 22px;
  margin-left: 20px;
}
.link a:onHover {
  color: #56C9EA;
}
.link a:active {
  color: white;
}
.navbar-brand {
  font-size: 22px;
  color: white;
}
.navbar-brand:hover {
  color: #56C9EA;
}
#hamburger {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.hamburgerMenu {
  text-decoration: none;
  float: right;
}
.hamburgerMenu>a {
  margin-left: 10px;
}
#navLink {
  margin-top: -10px;
  margin-bottom: 25px;
  z-index: 1;
  text-align: center;
}
.navLinkLarge {
  display: none;
}
.topCard {
  background-image: url('/images/Banner-1.png');
  background-position: right;
  ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -20px;
  text-align: center;
}
.mainImageDiv {

  background-image: url('/images/MytrexLogo_Grey.png');
  /*background-image: url('/images/Mytrex-Wall-Paper-transparent.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 65%;
  margin: auto;
  height: 275px;
}
.mainImage {
  width: 80%;
  margin: 0 auto;
}
.iframe-container {
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe, .iframe-container object, .iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal.in .modal-dialog {
  transform: none;
  /*translate(0px, 0px);*/
}
.productsCard {
  background-color: white;
  margin: 0 auto;
}
.caption {
  text-align: center;
}
.productsCard {
  margin-top: 20px;
  margin-bottom: 20px;
}
.thumbnail {
  border: none;
  width: 100%;
  display: block;
}
.thumbnailImg {
  width: 50%;
}
.btn-primary{
  background-color: #113B64;
}
.custom {
  background: #113B64;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social {
  text-align: center;
  background: none;
}
.social>div {
  display: inline-block;
  margin: 20px;
}
.documentsMain {
  height: 100vh;
  background-image: url('/images/Banner-1.png');
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -20px;
  padding: 30px;
}
.documentsWrapper {
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  border: solid thick #286090;
  background-color: white;
  z-index: 10;
  width: 80%;
  z-index: 100;
}
.ngWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.searchText {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
}
.documents li {
  list-style-type: none;
  margin-left: 10px;
  font-size: 20px;
}
.documentsCard {
  margin: 0 auto;
}
.view-pdf:hover {
  color: #56C9EA;
  cursor: pointer;
}
.productsMain {
  background: #141B27;
  /*background: white;*/
  margin-top: -20px;
}
.productsTop {
  height: 500px;
  background-image: url('/images/Banner-1.png');
  background-position: -140px 0;
  background-repeat: no-repeat;
  background-size: 900px;
  margin-top: -20px;
  padding: 30px;
}
.mainChip {
  color: white;
  position: relative;
  top: 185px;
  left: 124px;
  background-color:#56C9EA;
  border-radius: 10px;
  height: 70px;
  width: 73px;
  text-align: center;
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.mxdButton {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 85px;
  left: 75px;
  /*border: red solid thin;*/
  border-radius: 10px;
  height: 75px;
  width: 73px;
  text-align: center;
  background-image: url('/images/mxd.png');
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.iconButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.MXDvertical {
  height: 76px;
  border-left: 3px solid white;
  position: absolute;
  top: 125px;
  left: 157px;
}
.MXDMainChip {
  color: white;
  font-size: 30px;
  padding-top: 22px;
  position: absolute;
  top: 201px;
  left: 143px;
  background-color:#56C9EA;
  border: white solid medium;
  border-radius: 10px;
  height: 98px;
  width: 95px;
  text-align: center;
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;

}
.MXDvertical2 {
  height: 200px;
  border-left: 3px solid white;
  position: absolute;
  top: 300px;
  left: 185px;
}
.mxd3gButton {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 100px;
  left: 240px;
  /*border: red solid thin;*/
  border-radius: 10px;
  height: 75px;
  width: 73px;
  text-align: center;
  background-image: url('/images/mxd3g front.png');
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.MXD3gvertical {
  height: 50px;
  border-left: 3px solid white;
  position: absolute;
  top: 152px;
  left: 226px;
}
.MXD3gMainChip {
  color: white;
  font-size: 30px;
  padding-top: 22px;
  position: absolute;
  top: 201px;
  left: 143px;
  background-color:#56C9EA;
  border: white solid medium;
  border-radius: 10px;
  height: 98px;
  width: 95px;
  text-align: center;
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.MXD3gvertical2 {
  height: 200px;
  border-left: 3px solid white;
  position: absolute;
  top: 300px;
  left: 185px;
}


.myaaButton {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 285px;
  left: 30px;
  /*border: red solid thin;*/
  border-radius: 10px;
  height: 75px;
  width: 73px;
  text-align: center;
  background-image: url('/images/myActive2.png');
  background-color: white;
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.myaaVertical {
  width: 80px;
  border-top: 3px solid white;
  position: absolute;
  top: 273px;
  left: 63px;
}
.myaaMainChip {
  color: white;
  font-size: 23px;
  padding-top: 22px;
  position: absolute;
  top: 201px;
  left: 143px;
  background-color:#56C9EA;
  border: white solid medium;
  border-radius: 10px;
  height: 98px;
  width: 95px;
  text-align: center;
  background-position: -15px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.myaaVertical2 {
  height: 200px;
  border-left: 3px solid white;
  position: absolute;
  top: 300px;
  left: 185px;
}



@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.productDetails {
  width: 100%;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.threeGgDetails {
  width: 100%;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.myaaDetails {
  width: 100%;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.productTopDetails {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #286090;
  background: white;
  margin-top: -20px
}
.productOverview{
  width: 100%;
}
.pageTitle{
  text-align: center;
}
.productDetails{
  width: 100%;
}
.productSpecs{
  width: 100%;
}
.productTitle {
  font-size: 25px;
  color: #286090;
}
.productTag {
  font-size: 18px;
  color: #286090;
}
.productMainDetails {
  margin-left: 10px;
  margin-right: 10px;
  background: white;
}
.productsLogo {
  display: none;
}
.lists{
  text-align: right;
}
.clickMore{
  color: white;
  font-size: 24px;
  position: absolute;
  top: 400px;
  margin-left: 80px;
}

/*****************************************************************/

@media (min-width: 545px) {
  #hamburger {
    display: none;
  }
  #navLink {
    display: none;
  }
  .linkLarge {
    display: inline-block;
    color: #D0D3D5;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .linkLarge:hover {
    display: inline-block;
    color: #56C9EA;
    font-size: 22px;
    margin-left: 20px;
  }
  .navLinkLarge {
    display: inherit;
    float: right;
    color: white;
  }
  .mainImageDiv {
    height: 300px;
  }
  .custom>p {
    display: inline-block;
  }
  .productsCard {
    text-align: center;
  }
  div.row::before {
    display: none;
  }
  .middle {
    border-right: solid thin #d9e1e8;
    border-left: solid thin #d9e1e8;
  }
  .thumbnail {
    width: 31%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .searchText {
    margin-left: 20px;
  }
  .productsTop {
    background-position: -70px 0;
  }
  .mxdButton {
    left: 145px;
  }
  .MXDvertical {
    left: 227px;
  }
  .MXDMainChip {
    left: 213px;
  }
  .MXDvertical2 {
    left: 255px;
  }

  .mxd3gButton {
    left: 310px;
  }
  .MXD3gvertical {
    left: 296px;
  }
  .MXD3gMainChip {
    left: 213px;
  }
  .MXD3gvertical2 {
    left: 255px;
  }
  .myaaButton {
    left: 100px;
  }
  .myaaVertical {
    left: 133px;
  }
  .myaaMainChip {
    left: 213px;
  }
  .myaaVertical2 {
    left: 255px;
  }
  .productTopDetails{
    font-size: 20px;
  }
}
@media (min-width: 820px) {
  .linkLarge {
    color: white;
    margin-top: 10px;
  }
  .productsTop {
    background-position: 0 0;
  }
  .mxdButton {
    left: 215px;
  }
  .MXDvertical {
    left: 297px;
  }
  .MXDMainChip {
    left: 283px;
  }
  .MXDvertical2 {
    left: 325px;
  }
  .vertical3 {
    width: 80px;
    border-top: 3px solid white;
    position: absolute;
    top: 224px;
    left: 375px;
  }
  .vertical4{
    height: 55px;
    border-right: 3px solid white;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(39deg);
    position: absolute;
    top: 177px;
    left: 468.5px;
  }
  .vertical5 {
    width: 62px;
    border-top: 3px solid white;
    position: absolute;
    top: 182px;
    left: 487px;
  }
  .productPreview1{
    display: block;
    color: #141B27;
    background-color:white;
    position: absolute;
    top: 160px;
    left: 548px;
    font-size: 20px;
    border: medium solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .vertical6 {
    width: 235px;
    border-top: 3px solid white;
    position: absolute;
    top: 260px;
    left: 375px;
  }
  .productPreview2{
    display: block;
    color: #141B27;
    background-color:white;
    position: absolute;
    top: 238px;
    left: 610px;
    font-size: 20px;
    border: medium solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .vertical7 {
    height: 70px;
    border-left: 3px solid white;
    position: absolute;
    top: 299px;
    left: 358.5px;
  }
  .vertical8 {
    width: 85px;
    border-top: 3px solid white;
    position: absolute;
    top: 367px;
    left: 359px;
  }
  .productPreview3{
    display: block;
    color: #141B27;
    background-color:white;
    position: absolute;
    top: 345px;
    left: 444px;
    font-size: 20px;
    border: medium solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mxd3gButton {
    left: 380px;
  }
  .MXD3gvertical {
    left: 366px;
  }
  .MXD3gMainChip {
    left: 283px;
  }
  .MXD3gvertical2 {
    left: 325px;
  }
  .myaaButton {
    left: 170px;
  }
  .myaaVertical {
    left: 203px;
  }
  .myaaMainChip {
    left: 283px;
  }
  .myaaVertical2 {
    left: 325px;
  }
  .productIcon{
    display: inline-block;
    margin-right: 40px;
  }
  .productTag{
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
  }

  .leftTile{
    display: block;
    width: 49%;
  }
  .rightTile{
    display: block;
    width: 49%;
  }

}
@media (min-width: 900px) {
  .productsLogo {
    display: inline-block;
    float: right;
    margin-right: 5px;
    padding-top: 100px;
  }
}
@media (min-width: 1000px) {
  .productPreview1{
  font-size: 30px;
  }
  .productPreview2{
  font-size: 30px;
  }
  .productPreview3{
  font-size: 30px;
  }

}
@media (min-width: 1200px) {

  .productsLogo>img {
    width: 400px;
  }
  .productsLogo {
    display: inline-block;
    float: right;
    margin-right: 5px;
  }
  .mainBody {
    position: relative;
    max-width: 1201px;
    margin: 0 auto;
  }
  body {
    background-color: #141B27;
  }
}
