html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	background-color: white;
}
.blue{
	color: #286090;
}
.row::after{
	display: none;
}

.header{
	width: 100%;
	background-color: #FFFFFF;
}
.navbar{
	z-index: 1;
	background-color: #286090;
	height: 20px;
}
.logo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.navLinks{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.link{
	display: inline-block;
	color: #286090;
	font-size: 22px;
	margin-left: 20px;
}
.link a:onHover{
	color: #286090;
}
.link a:active{
	color: white;
}
.navbar-brand{
	height: 100px;
}
.logo{
	width: 180px;
}
#hamburger{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.hamburgerMenu{
	text-decoration: none;
	float: right;
}
.hamburgerMenu>a{
	margin-left: 10px;
}
#navLink{
	margin-top: -10px;
	margin-bottom: 25px;
	z-index: 1;
	text-align: center;

}
.navLinkLarge{
	display: none;
}
.topCard{
	background-image: url('/images/Banner-1.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-top: -20px;
}
.mainImage{
	display: block;
	width: 80%;
	margin-left: 20px
}
.mytexSlogan{
	display: block;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
.iframe-container {
padding-bottom: 60%;
padding-top: 30px; height: 0; overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.modal.in .modal-dialog {
transform: none; /*translate(0px, 0px);*/
}
.synergy{
	font-size: 40px;
	font-weight: 700;
}
.madeInUsa{
	padding-bottom: 20px;
}
.productsBtn{
	font-size: 25px;
}
.secondaryImage{
	display: none;
}
.productsCard{
	background-color: white;
	margin: 0 auto;
}
.caption{
	text-align: center;
}
.productsCard{
	margin-top: 20px;
	margin-bottom: 20px;
}
.thumbnail{
	border: none;
	width: 100%;
	display: block;
}
.thumbnailImg{
	width: 50%;
}
.custom{
	background: #286090;
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.social{
	text-align: center;
	background:none;
}
.social>div{
	display: inline-block;
	margin: 20px;
}
footer{
	background: #286090;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer>div{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
.productsMain{
	margin-top: 20px;
	padding: 20px;
}
.productsWrapper{
	margin: auto;
	margin-top: -20px;
	padding-top: 20px;
	background-color: #286090;
	z-index: 10;
	width: 80%;
	z-index: 100;
}
.leftAside{
	width: 90%;
	margin: 0 auto;
	background-color: white;
}
.searchText{
	width: 90%;
	margin-top: 10px;
	margin-left: 5%;
}
.documents li{
	list-style-type: none;
	margin-left: 10px;
	font-size: 20px;
}
.documentsCard{
	margin: 0 auto;
}
@media (min-width: 545px){
	#hamburger{
		display: none;
	}
	#navLink{
		display: none;
	}
	.linkLarge{
	display: inline-block;
	color: white;
	font-size: 22px;
	margin-left: 20px;
	margin-top: 10px;
	}
	.linkLarge:hover{
	display: inline-block;
	color: #282c37;
	font-size: 22px;
	margin-left: 20px;
	}
	.linkLarge:active{
	display: inline-block;
	color: #282c37;
	font-size: 22px;
	margin-left: 20px;
	}

	.navLinkLarge{
		display: inherit;
		float: right;
		color: white;
	}
	.mainImage{
		display: block;
		width: 410px;
		margin-left: 20px
	}
	.custom>p{
		display: inline-block;
	}
	.productsCard{
		text-align: center;
	}
	div.row::before{
		display: none;
	}
	.middle{
		border-right: solid thin #d9e1e8;
		border-left: solid thin #d9e1e8;
	}
	.thumbnail{
		width: 31%;
		display: inline-block;
		margin: 0;
		padding:0;
		border-radius: 0;
	}
	.leftAside{
		margin-left: 20px;
		background-color: white;
		padding: 10px;
	}
	.searchText{
		margin-left: 20px;
	}
@media (min-width: 650px){
	.mainImage{
		display: inline-block;
		width: 410px;
		margin-left: 20px
	}
	.mytexSlogan{
		display: inline-block;
		font-size: 25px;
		text-align: center;
		margin: auto;
		padding-top: 100px;
	}
}
@media (min-width: 700px){

	.mainImage{
		margin-left: 0
	}
	.topCard{
		text-align: center;
	}
}
@media (min-width: 768px){

	.navLinkLarge{
		float: right;
	}
}


@media (min-width: 1185px){
	.secondaryImage{
		display: inline-block;
		width: 410px;
	}
}*/
