<div id="footer1">
      <ul id="signup">
        <div class="title">News &amp; Updates</div>
        <div id="email">
          <input type="email" placeholder="Enter your email address...">
          <button type="submit">Sign Up</button>
          <p>Sign up to get the latest on sales, new releases and more ...</p>
        </div>
      </ul>
      
      <ul id="healthbars">
          <li class="title">Our products</li>
          <li>
            <a href="#">Hoodies</a>
          </li>
          <li>
            <a href="#">Stickers</a>
          </li>
          <li>
            <a href="#">Keychains</a>
          </li>
          <li>
            <a href="#">Toasters</a>
          </li>
          <li>
            <a href="#">Logs</a>
          </li>
      </ul>
      
      <ul id="learn">
          <li class="title">Learn More</li>
          <li>
            <a href="#">Store Locator</a>
          </li>
          <li>
            <a href="#">Privacy Information</a>
          </li>
          <li>
            <a href="#">Tems &amp; Conditions</a>
          </li>
          <li>
            <a href="#">Shipping &amp; Returns</a>
          </li>
          <li>
            <a href="#">Join Our Team</a>
          </li>
        </ul>   
    </div>
  
      <footer>
      <p>&copy; 2015 DEVMTZON</p>
      <ul>
        <li>
          <img src="images/home/cc-paypal.png" alt="paypal" />
        </li>
        <li>
          <img src="images/home/cc-visa.png" alt="visa" />
        </li>
        <li>
          <img src="images/home/cc-mastercard.png" alt="mastercard" />
        </li>
        <li>
          <img src="images/home/cc-amex.png" alt="american express" />
        </li>
        <li>
          <img src="images/home/cc-discover.png" alt="discover" />
      </ul>      
    </footer>