<div class="productTopDetails">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="overViewTab" ng-click="showDetails('overView')"><a href="/#/products">Overview</a></li>
    <li role="presentation" ng-class="detailsTab" ng-click="showDetails('details')"><a href="/#/products">Details</a></li>
    <li role="presentation" ng-class="specsTab" ng-click="showDetails('specs')"><a href="/#/products">Specifications</a></li>
  </ul>
</div>
<div class="productMainDetails">
  <div ng-class="overViewView" class="productOverview">
    <div class="pageTitle">
      <h1>MXD3G</h1>
      <div class="productIcon"><img src="/images/mxd3g Front.png" alt="" /></div>
      <p class="productTag">Simply put, you will not find a better cellular based PERS</p>
    </div>
    <h3>Your answer to no landline.</h3>
    <p>
      The MXD3G is the first cellular
      medical alarm in the industry to
      provide a 3G cellular connection.
      The MXD3G is state of the art
      equipment, designed by Mytrex
      engineers. As more people get
      rid of their Pots lines and switch to
      other mediums of communication,
      the MXD3G will become more and
      more valuable to PERS dealers.
    </p>
    <h3>EASY INSTALLATION</h3>
    <p>
      <ul>
        <li>PHB Range Test Mode</li>
        <li>Monitor Mode</li>
        <li>Easy to Program Panic Buttons and Other Wireless Devices</li>
        <li>User Friendly Interface</li>
        <li>Voice Prompts and Messages</li>
      </ul>
    </p>
  </div>
  <div ng-class="detailsView" class="productDetails">
    <div class="pageTitle">
      <h1>MXD3G</h1>
      <div class="productIcon"><img src="/images/mxd3g Front.png" alt="" /></div>
      <p class="productTag">Simply put, you will not find a better cellular based PERS</p>
    </div>
    <h3>General Settings</h3>
    <p>
      <ul>
        <li>Preprogrammed from the Factory</li>
        <li>Typically 5+ Years Before Battery Replacement</li>
        <li>3-5 Year Panic Button Battery (Monitored)</li>
        <li>Built to Last</li>
        <li>Dealer Repairable (If Desired)</li>
      </ul>
    </p>
  </div>
  <div ng-class="specsView" class="productSpecs">
    <div class="pageTitle">
      <h1>MXD3G</h1>
      <div class="productIcon"><img src="/images/mxd3g Front.png" alt="" /></div>
      <p class="productTag">Simply put, you will not find a better cellular based PERS</p>
    </div>
    <h3>MXD3G Features</h3>
    <ul>
      <li>Telguard Patented Technology</li>
      <li>Voice Prompts in Two Languages</li>
      <li>Monitored Personal Help Button (PHB)</li>
      <li>More than 600 ft. Panic Button Range</li>
      <li>60+ Hours of Backup Battery</li>
      <li>Over-Discharge Battery Protection</li>
      <li>Precise Battery Charging Algorithms</li>
      <li>3G AT&T Network</li>
      <li>Superior Audio Quality</li>
      <li>Unsurpassed Voice Range</li>
      <li>Duplex & Simplex Voice Mode</li>
      <li>Private Labeling Available</li>
      <li>Monitored by Any Central Station- No Special Configurations Needed</li>
      <li>Audible Cellular Strength Notification</li>
      <li>Up to Two Medication Dispensers</li>
      <li>Provisioned for Smoke & CO Detectors</li>
      <li>Integrated Cellular- No Attachments Necessary</li>
      <li>FDA Registered</li>
      <li>Operational in US and Canada</li>
      <li><strong>Made In The USA</strong></li>
    </ul>
  </div>
</div>
