<div class="productTopDetails">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="overViewTab" ng-click="showDetails('overView')"><a href="/#/products">Overview</a></li>
    <li role="presentation" ng-class="detailsTab" ng-click="showDetails('details')"><a href="/#/products">Details</a></li>
    <li role="presentation" ng-class="specsTab" ng-click="showDetails('specs')"><a href="/#/products">Specifications</a></li>
  </ul>
</div>
<div class="productMainDetails">

  <div ng-class="overViewView" class="productOverview">
    <div class="pageTitle">
      <h1 class="">MXD</h1>
      <div class="productIcon"><img src="/images/mxd.png" alt="" /></div>
      <p class="productTag">
        The Latest Medical Alert System Technology at Work
      </p>
    </div>
    <div class="leftTile">
      <h3>How We Did It</h3>
      <p>
        Mytrex’s systematic approach to designing PERS is unique; Mytrex utilizes its vast
        experience and knowledge gleaned from designing not only PERS, but also the
        monitoring software and hardware that is used to monitor PERS. Furthermore, Mytrex’s
        main business function is to design and manufacture PERS. As a result, those who
        purchase the MXD can rest assured that the product has been designed with their best
        interest in mind.
      </p>
    </div>
    <div class="rightTile">
      <h3>Your answer to telephone service compatibility</h3>
      <p class="paragraph">
        The MXD is the first traditional
        PERS on the market to be
        completely VoIP compatible. When
        a customer switches from POTS
        to VoIP, the MXD simply makes
        the call when needed. As more
        people get rid of their POTS lines
        and switch to the other mediums
        of communication, the MXD will
        continue to become more and
        more valuable to PERS dealers.
      </p>
    </div>

    <h3>Programmable In The Field</h3>
    <p>
      The MXD is dealer-friendly and can
      be programmed by the provider
      using either a telephone or easy to
      use GUI application.
    </p>
    <h3>What's New</h3>
    <p>
      The MXD is designed to be more cost effective to own, monitor and
  service than any other unit in the industry. The MXD is compatible
  with all telephones formats (including VoIP and cellular terminals).
    </p>
    <ul>
  </div>
  <div ng-class="detailsView" class="productDetails">
    <div class="pageTitle">
      <h1>MXD</h1>
      <div class="productIcon"><img src="/images/mxd.png" alt="" /></div>
      <p class="productTag">
        The Latest Medical Alert System Technology at Work
      </p>
    </div>
    <h3>Reporting Formats (partial list)</h3>
    <p class="lists">
      <ol>
        <li>Contact ID</li>
        <li>Account + Alarm + Checksum</li>
        <li>Mytrex MXD Format</li>
        <li>Voice Signaling
          <ul>
            <li>Account Code or Serial Number + Alarm Code</li>
          </ul>
        </li>
      </ol>
    </p>
    <h3>Programmable In The Field</h3>
    <p>
      The MXD is dealer-friendly and can
      be programmed by the provider
      using either a telephone or easy to
      use GUI application.
    </p>

  </div>
  <div ng-class="specsView" class="productSpecs">
    <div class="pageTitle">
      <h1>MXD</h1>
      <div class="productIcon"><img src="/images/mxd.png" alt="" /></div>
    </div>
    <p class="productTag">
      The Latest Medical Alert System Technology at Work
    </p>
    <ul>
      <li>Designed to communicate in all formats into any central station</li>
      <li>Compatible with VoIP- even Magic Jack!</li>
      <li>Compatible with cable telephone systems</li>
      <li>Compatible with GSM cell terminals</li>
      <li>Compatible with CDMA cell terminals (Verizon Home Connect)</li>
      <li>The base unit back-up battery provides power for up to 80 hrs</li>
      <li>Monitored panic buttons</li>
      <li>Typically 5-7 years before base unit battery replacement</li>
      <li>Typically 5-year panic button battery (Monitored Battery)</li>
      <li>High quality simplex and duplex modes</li>
      <li>Two-way speaker phone feature- programmable</li>
      <li>Dealer programmable</li>
      <li>Smallest waterproof panic button in the industry</li>
      <li>Panic button range of 600-1000 feet</li>
      <li>Panic button range test mode</li>
      <li>Monitor Mode (facilitates more efficient troubleshooting with customers)</li>
      <li>Voice messages and prompts</li>
      <li>Receive MXD’s programmed with receiver numbers, account ID, etc.</li>
      <li>Easily repairable by dealer</li>
      <li>Private labeling available</li>
      <li>Priced competitively ($98.00)</li>
      <li><strong>Made In The USA</strong></li>
    </ul>
  </div>

</div>
