<div class="productTopDetails">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="overViewTab" ng-click="showDetails('overView')">
      <a href="/#/products">Overview</a>
    </li>
    <li role="presentation" ng-class="detailsTab" ng-click="showDetails('details')">
      <a href="/#/products">Details</a>
    </li>
    <li role="presentation" ng-class="specsTab" ng-click="showDetails('specs')">
      <a href="/#/products">Specifications</a>
    </li>
  </ul>
</div>

<div class="productMainDetails">
  <div ng-class="overViewView" class="productOverview">
    <div class="pageTitle">
      <h1>myActive Alert™</h1>
      <div><img src="/images/myActive2.png" alt=""/></div>
      <p class="productTag">The most robust and accurate fall detection button on the market</p>
    </div>
    <h3>Mytrex myActive Alert™</h3>
    <p>
      The myActive Alert™ utilizes BioSensic’s clinically and academically validated ActivePERS technology, and proves to be the most robust and accurate fall detection button on the market.
    </p>
  </div>
  <div ng-class="detailsView" class="productDetails">
    <div class="pageTitle">
      <h1>myActive Alert™</h1>
      <div><img src="/images/myActive2.png" alt=""/></div>
      <p class="productTag">The most robust and accurate fall detection button on the market</p>
    </div>
    <h3>Specifications</h3>
    <p>
      <ul>
        <li>Dimension: 2.165” x 1.468” x 0.603”</li>
        <li>Weight: 1 oz</li>
        <li>RF Transmission Frequency: 418 MHz</li>
        <li>Battery Life: 1 year or more (2years in Basic non-supervised mode)*</li>
        <li>Battery Voltage: 3.0V</li>
        <small>*Function of activity
        </small>
      </ul>
    </p>
    <h3>Disclaimer:</h3>
    <p>
      The myActive Alert™ does not detect falls with perfect accuracy. If a customer needs help, they must always push the help button on the wearable device or base unit.
    </p>
  </div>
  <div ng-class="specsView" class="productSpecs">
    <div class="pageTitle">
      <h1>myActive Alert™</h1>
      <div><img src="/images/myActive2.png" alt=""/></div>
      <p class="productTag">The most robust and accurate fall detection button on the market</p>
    </div>
    <h3>Mytrex myActive Alert™ Features</h3>
    <ul>
      <li>Academically and clinically validated technology</li>
      <li>Can be used with the Mytrex MXD and MXD3G units</li>
      <li>Range of 600-1000 feet
      </li>
      <li>Capable of sending separate fall and panic button signals</li>
      <li>
        Auto-cancel feature (if steps are detected after fall alert is detected, signal will not be transmitted to base unit)</li>
      <li>Monitored battery
      </li>
      <li>Can operate as a supervised Personal Help Button (PHB)</li>
      <li>Capable of sending unique alarm codes for fall-type events, button pushes, inactivity, supervisory alarms, and low battery alarms</li>
      <li>Fall detection feature can be disabled via the button (locally) or the base unit (locally or remotely)</li>
      <li>Button Only Mode</li>
      <li>Basic Mode</li>
      <li>Enhanced Mode</li>
      <li>Inactivity alert (Enhanced Mode only)</li>
      <li>Additional passive monitoring features (Enhanced Mode)</li>
      <li>
        <strong>Made In The USA</strong>
      </li>
    </ul>
  </div>
</div>
