html{
	box-sizing: border-box;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, SimSun, 'Segoe UI', AppleSDGothicNeo-Medium, 'Malgun Gothic', Arial, freesans, sans-serif;;
}
a{
	text-decoration: none;
	color: #00BEFF;
}
header ul{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
}
li{
	display: inline-block;
	color: #00BEFF;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
.yellow{
	color: #FBD343;
	font-weight: bold;
}
.blue{
	color: #00BEFF;
	font-weight: bold;
}
.white{
	color: white;
	font-weight: bold;
}
.header{
	width: 100%;
	background: black;
	border-bottom: solid medium #FBD343;
}
.home{
	padding-top: 30px;
	padding-bottom: 20px;
	color: #00BEFF;
	font-weight: bold;
	margin-left: 20px;
}
.top{
	margin: 0 auto;
	width: 600px;
	background-color: black;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.bottom{
	margin: 0 auto;
	width: 600px;
	background-color: #FBD343;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: bold;
}
